<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
</head>
<body>
<a th:href="@{/create}">Thêm khách hàng</a>
<table border="1px" >
    <tr>
        <th>ID</th>
        <th>Họ tên khách hàng</th>
        <th>Email</th>
        <th>Số điện thoại</th>
    </tr>
    <th:block th:each="customer: ${customers}">
        <tr>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.province.name}"></td>
            <td>
                <a th:href="@{/edit/__${customer.getId()}__}">Edit</a>
                <a th:href="@{/delete/__${customer.getId()}__}" onclick="return confirm('Bạn có chắc muốn xoá?')">Delete</a>
            </td>
        </tr>
    </th:block>

</table>
</body>
</html>